
*{
    box-sizing: border-box;
    text-align: center;
}



body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}
#header {
    color: #777;
    background-color: #ebebeb;
    width: 100%;
    margin-bottom: 10px;
    padding: 25px;
}
#nav {
    margin-bottom: 10px;
    color: #777;
    background-color: #ebebeb;
    padding: 25px;
    }
    #section {
        float: left;
        padding: 20px;
        background-color: #ebebeb;
        width: 495px;
    }
    #article {
        margin: auto; 0
        float: left;
        background-color: #777;
        color: #ebebeb;
        padding: 40px;
    }
    #h1,h2,h3 {
        margin: auto; 0
        float: left;
        padding: 10px;
        background-color: #ebebeb;
        color: #777; 
    }  
    #p {
        margin: auto; 0
        float: left;
        padding: 10px;
        background-color: #ebebeb;
        color: #777;
    }
    #aside {
    float: right;
    padding: 100px;
    margin-bottom: 25px;
    background-color: #ebebeb;
    width: 450px; 
    }
    #footer {
    float: left;
    padding: 25px;
    color: #777;
    background-color: #ebebeb;
    width: 100%;
    } 